@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #efefef;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001e1e;
    height: 100vh;
}
.main{
    background-color: white;
    width: 80%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px gray;
    overflow: hidden;
}
.navbar{
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
}
.navbar p{
    font-weight: 600;
    font-size: 20px;
}.navbar a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
button{
    padding: 13px;
    margin-right: 8px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
}
.plan{
    background-color: #e4e8e9;
    color: black;
}
.plan:hover{
    background-color: black;
    color: white;
}
.content{
    display: flex;
    background-color: #f9f5f9;
}
.text{
    padding: 40px;
    /* flex: 2; */
}
.text h6{
    font-weight: 300;
    /* padding: 0%; */
    margin-bottom: 0%;
}
.text h1{
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 10px;
}
.text p{
    margin-top: 0%;
    font-size: 15px;
}
.text button:hover{
    background-color: #001e1e;
}
.text ul{
    padding: 0%;
    list-style: none;
}
.text ul li{
    margin-bottom: 10px;
}
.text li::before{
    content: '✔';
    margin-right: 8px;
}
.image{
    display: flex;
    object-fit: contain;
}
.image img{
    max-width: 350px;
}